/*
 * Estilos de tu proyecto
 */

 *{
     margin:0;
     font-family: 'Montserrat', sans-serif;
}

nav img{
    width: 69px;
    height: 49px;
}
nav ul{
    list-style: none;
    display: inline-block;
    position: relative;
    left: 70%;     
}
nav li{
    display: inline-block;
}
nav a {
    text-decoration: none;    
    color: #fff;
}

.first-section{
    width: 100%;
    height: 300px; 
    background-image: url(../assets/images/hero.gif);
    background-repeat: no-repeat;
    outline: 1px solid red;
}
footer{
    
}
.app li{
    outline: 5px solid red;
    padding: 0;
    margin: 0;    
    /* display: inline-block; */
}
.app ul{
    list-style: none;
    display: inline-block;
    outline: 2px solid purple;
    padding: 0;
    margin: 0;
}
.app a img{
    width: 30%;
    /* height: 60px; */
    outline: 3px solid green;
    margin: 0;
}
.column-1 ul,.column-2 ul,.column-3 ul{
    list-style: none;
    outline: 1px solid yellow;
    padding-left: 0;
    margin-right: 110px;
    font-size: 14px;
    margin-top: 23px;        
}
.column-1 li, .column-2 li, .column-3 li{
    outline: 1px solid black;
    /* line-height: 21px; */
    margin-bottom: 18px;
}
.social li{
    display: inline-block;
    list-style: none;
}

.row .column-1,.row .column-2, .row .column-3{
    display: inline-block;
    /* outline: 1px solid green; */
}

    
    