/*
 * Estilos de tu proyecto
 */

 *{
     margin:0;
     font-family: 'Montserrat', sans-serif;
}

nav img{
    width: 69px;
    height: 49px;
    position:relative;
    left:80px;
    top:50%;
    transform: translateY(-50%)
}

.log-in{
    border:1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    padding-left: 8px;
}
nav ul{
    list-style: none;
    display: inline-block;
    position: relative;
    left: 55%;     
}
nav li{
    display: inline-block;
}
nav a {
    text-decoration: none;    
    color:#fff;
    font-size: 18px;
    margin:19px;
}
 
.first-section{
    width: 100%;
    margin-top: 100px;
    
}

.gif{
    width: 100%;
    height:900px;
    display: inline-block;
    z-index: 0;
    position: relative;
    bottom: 60px;
}
.section-form{
  background: #fff;
  width: 40%;
  height: 400px;
  position: relative;
  left:949px;
  bottom: 900px;
  display: inline-block;
}

.first-section form{
    background: #fff;
    width: 50%;
    height: 100px;
    
}

.section-form h1,.section-form h2{
    font-size: 40px;
    color:#352384;
}

.section-form h1{
    margin-top: 50px;
    margin-left: 71px;
    margin-bottom: 5px;
}

.section-form h2{
    margin-left: 71px;
    margin-top: 0;
    margin-bottom: 10px;
}

.section-form p{
    font-size: 14px;
    margin-left: 71px;
    color:#352384;
    margin-bottom: 10px;
}

.first-section form{
    width: 80%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 10px;
}

.first-section form input{
    border:none;
    border-bottom: 1px solid #341e46;
    width: 100%;
    font-size: 16px;
}

.botones{
  margin-top: 20px;
}

.botones button{
    font-size: 16px;
    color:#fff;
    width: 180px;
    height: 50px;
    background-color: #ff00bf;
    border:none;
    border-radius: 5px;
}

.botones a{
    font-size: 16px;
    color:#728099;
    margin-left: 10px;
}

.parrafos p{
    font-size: 10px;
    color:#728099;
}

.parrafos p a{
    color:#ff00bf;
    text-decoration: none;
}
<<<<<<< HEAD

nav{
    width: 100%;
    outline: 1px color red;
    height: 113px;
    z-index: 99999;
    position: fixed;
    top:0;
}

.section-two{
    background-color: #652586; 
}
=======
footer{
    background-color:#333447;
    color:#fff; 
    position: relative;
 }
.app li{
    /* outline: 5px solid red; */
    padding: 0;
    margin: 0;    
    /* display: inline-block; */
}
.app ul{
    list-style: none;
    display: inline-block;
    /* outline: 2px solid purple; */
    padding: 0;
    margin: 0;
}
.app a img{
    width: 30%;
    /* height: 60px; */
    /* outline: 3px solid green; */
    margin: 0;
}
.app{
    position: relative;
    left:70%;
    display: inline-block;
    top: 230px;
}
.column-1 ul,.column-2 ul,.column-3 ul{
    list-style: none;
    /* outline: 1px solid yellow; */
    padding-left: 0;
    margin-right: 160px;
    margin-top: 23px;
    font-weight: lighter;        
}
.column-1 li, .column-2 li, .column-3 li{
    /* outline: 1px solid rgb(216, 129, 129); */
    /* line-height: 21px; */
    margin-bottom: 35px;
}
.row div  a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
footer .row{
    margin-left: 120px;
}
 
 .row .column-1,.row .column-2, .row .column-3{
     display: inline-block;
     text-align: left;
}
.row{
    /* display: inline-block; */
}
.social li{
    display: inline-block;
    list-style: none;
}
.social{
    text-align: center;
    margin-bottom: 10px;
    font-weight: lighter;
}
.social a{
    border: 1px solid white;
    border-radius: 90%;
    color: #fff;
    padding: 5px;
}
.social li{
    margin:10px;
}
>>>>>>> 47f0b6ba08c32638a54da2662081b84263573b93
